{{#if loggedIn}}
<div class="adddiv col-sm-2 mx-auto my-auto pb-3 pt-3">
    <a class="btn btn-primary btn-lg btn-block homeBttn accountBttn " href="/occasion" role="button">Add Occasion</a>
</div>
{{/if}}
{{#each plainOccasionList as |occasion|}}
<section class="card mb-3 occassioncard">


    <div class="card-body">
        <div class="occasiondetails">
            <h1 data-occasiontitle="{{id}}">{{occasion.name}}</h1>
            <h4><u>{{format_date occasion.date}}</u></h4><br>
            <div class="adddiv">
                <a class="btn btn-primary btn-lg btn-block homeBttn accountBttn " href="/recipient/{{occasion.id}}" role="button">Add Recipient</a>
            </div>
            <div class="edit">
                <button class="editoccasion" data-edit={{id}}><i class="fas fa-pen"></i></button>
                <button class="deleteoccasion" data-delete={{id}}><i class="fas fa-trash"></i> </button>
            </div>
            
        </div>
        <div class="card-body pt-0 pb-4">
            <h4> <em>{{occasion.location}}</em></h4>
        </div>
        {{>recipient recipients=occasion.recipients}}
    </div>
     
</section>
{{/each}}
{{#if loggedIn}}
                {{else}}
            <div class="row h-100 vertAlign"></div>
                <div class="intro col-lg-8 mx-auto my-auto">
                    <h1 class="welcomeText">Do you love spending hours searching for the perfect gift for someone? Us neither. 
                    That's why we created Gifthub – to take the hassle out of gift-giving. 
                    With our easy-to-use platform, you can find gift ideas for any occasion in just a few clicks. 
                    Join us, and you'll never have to step foot in a crowded mall again, (unless you're into that).
                    </h1>
                </div>
                <br>
                <div class="intro col-sm-2 mx-auto my-auto">
                    <a class="btn btn-primary btn-lg btn-block homeBttn accountBttn" href="/signup" role="button">Sign up</a><br>
                    <a class="btn btn-primary btn-lg btn-block homeBttn" href="/login" role="button">Log in</a>
                </div>
            </div>
                {{/if}}